.form {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form:first-of-type {
  margin-bottom: 13px;
}

.form:last-of-type {
  margin-top: 30px;
}

@media screen and (max-width: 1140px) {
  .form {
    width: 320px;
  }
}

@media (max-width: 984px) {
  .form {
    width: 300px;
  }
}

@media (max-width: 568px) {
  .form {
    width: 238px;
  }
}