.popup__input {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  /*max-width: 358px;*/
  width: 100%;
  outline-style: none;
  padding-bottom: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.popup__input:last-of-type {
  padding-top: 30px;
}

@media (max-width: 865px) and (min-width: 320px) {
  .popup__input {
    max-width: 238px;
  }
}