.profile {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding-top: 40px;
  padding-bottom: 51px;
  color: white;
}

@media (max-width: 1279px) and (min-width: 866px) {
  .profile {
      width: calc(100% - 2*100px);
      margin-left: auto;
      margin-right: auto;
  }
} 

@media (max-width: 865px) and (min-width: 320px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
    padding-bottom: 36px;
  }
} 