.content {
  width: calc(100% - 2*200px);
}

@media screen and (max-width: 1279px) {
  .content {
      width: calc(100% - 2*100px);
  }
} 


@media screen and (max-width: 320px) {
  .content {
      width: calc(100% - 2*19px);
  }
} 