.element__caption {
  margin: 0;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
  padding-right: 30px;
}

@media (max-width: 767px) and (min-width: 320px) {
  .element__caption {    
    padding-right: 15px;
  }
} 